

body {
    background: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 500px;
    padding: 30px;
    background: #333;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
    text-align: center;
}
.btn-custom {
    background-color: #00adb5;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}
.btn-custom:hover {
    background-color: #00727a;
}
